<section class="jumbotron">
  <div class="video">
    <div class="video-frame">
      <img src="<%- theme.ocean.path %>overlay-hero.png" alt="Decorative image frame">
    </div>
    <div class="video-media" style='background-image: url(<%- theme.ocean.path %>bg.jpg)'>
      <div class="video-overlay"></div>
    </div>
    <div class="video-inner text-center text-white">
      <h1 class='video-title'><%= config.title %></h1>
      <div><img src="<%- theme.ocean.brand %>" class="brand"></div>
    </div>
    <div class="video-learn-more">
      <a class="anchor" href="#landingpage"><i class="fe fe-mouse"></i></a>
    </div>
  </div>
</section>
