
.article
  padding 3rem 0

.article-inner
  overflow hidden

.article-meta
  clearfix()

.article-date
  @extend $block-caption
  &::before
    content '\f10f'
    font-family feathericon
    opacity .5

.article-more-link
  display block
  text-align right
  text-decoration none

.article-entry
  margin-top 3rem
  text-align justify
  clearfix()
  @extend $base-style
  color body-color
  .pullquote
    text-align left
    width 45%
    margin 0
    &.left
      margin-left 0.5em
      margin-right 1em
    &.right
      margin-right 0.5em
      margin-left 1em
  .caption
    color color-grey
    display block
    font-size 0.9em
    margin-top 0.5em
    position relative
    text-align center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position relative
    padding-top (9 / 16 * 100) % // 16:9 ratio
    height 0
    overflow hidden
    iframe, object, embed
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      margin-top 0

.article-header
  h1, h2
    margin 0
  .article-title
    text-decoration none
    color sea

.article-footer
  clearfix()
  margin-top 3rem

// Tags
.article-tag-list
  list-unstyled()
  margin 0
  &:before
    content "\f153"
    font-family feathericon
    margin-right .5rem
  .article-tag-list-item
    display inline-block
    padding-right 1rem
  .article-tag-list-link
    text-decoration none

.article-comment-link
  float right
  &:before
    content "\f1d2"
    font-family feathericon
    padding-right 8px

// Nav  Older & Newer
.article-nav
  clearfix()
  position relative
  padding-top 3rem
  margin-top 5rem
  border-top border-width border-color solid

.article-nav-link
  display block
  text-decoration none
  &:first-child
    float left
  &:last-child
    float right
    text-align right

.article-nav-caption
  color sea-lighter

.article-nav-title
  font-size inherit
